@font-face {
  font-family: 'Freebooter';
  src: url('../fonts/Freebooter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@keyframes rollingSwitch {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

:root {
  --primary-color : #774935;
  --primary-dark-color: #57321f;

  --primary-font : Freebooter, sans-serif;

  --shadow : 2px 2px 4px rgba(0, 0, 0, 0.3);
}

body {
  font-family: var(--primary-font);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: white;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  font-family: var(--primary-font);
  font-size: 22px;
  cursor: pointer;
  color: white;
}

button:hover {
  background-color: var(--primary-dark-color);
}

button:disabled {
  background-color: #8a8888;
  cursor: not-allowed;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.inner-page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 20px;
  box-sizing: border-box;
  min-height: inherit;
}

main {
  width: 100%;
}

main .left-part {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px 20px 20px;
  margin-left: 5%;
  width: 50%;
  z-index: 2;
  border-radius: 15px;
}

main .left-part .background {
  object-position: top;
  opacity: .8;
  border-radius: inherit;
}

.inner-page .left-part .title {
  margin: 0;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: var(--shadow);
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  z-index: 2;
}

main .left-part .game-description{
  font-size: 24px;
  margin: 12px 0;
  text-shadow: var(--shadow);
}

main .params-choices {
  position: relative;
  display: flex;
  align-content: center;
  gap: 25px;
  width: 100%;
  z-index: 2;
  box-sizing: border-box;
}

main .params-choices .choice-box {
  padding: 0;
  margin-top: 20px;
  border-radius: 10px;
  width: 50%;
  text-align: center;
}

main .params-choices .choice-box input {
  padding: 10px;
  margin: 10px 0;
  width: 90%;
  font-size: 22px;
  font-family: var(--primary-font);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}

main .params-choices .choice-box input::placeholder {
  font-size: 20px;
}

main .params-choices .choice-box :focus {
  outline-color: var(--primary-dark-color);
}

main .params-choices .choice-box h2 {
  font-size: 30px;
  margin: 0;
  text-shadow: var(--shadow);
}

main .players-display {
  position: absolute;
  right: 0;
  top: 20px;
}

.players-display .switch {
  position: absolute;
  left: 605px;
  top: 240px;
  display: inline-block;
  width: 125px;
  height: 50px;
  cursor: pointer;
}

.players-display .switch:hover {
  animation: .5s ease-in-out rollingSwitch;
}

.players-display .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.players-display .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.players-display .slider:before {
  position: absolute;
  content: "";
  height: 42px;
  aspect-ratio:  1/1;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.players-display .round {
  border-radius: 34px;
}

.players-display .round:before {
  border-radius: 50%;
}

.players-display input:checked + .slider {
  background-color: var(--primary-dark-color);
}

.players-display input:checked + .slider:before {
  -webkit-transform: translateX(72px);
  -ms-transform: translateX(72px);
  transform: translateX(72px);
}

.players-display .switch p {
  position: absolute;
  top: 3px;
  margin: 0;
  width: min-content;
  text-align: center;
  font-size: 22px;
  transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
}

.players-display .switch .textToggleOff {
  right: 54px;
  opacity: 0;
  visibility: hidden;
}

.players-display.as--animals .switch .textToggleOff {
  opacity: 1;
  visibility: visible;
}

.players-display .switch .textToggleOn {
  right: 14px;
}

.players-display.as--animals .switch .textToggleOn {
  opacity: 0;
  visibility: hidden;
}

.players-display .players-table {
  width: 950px;
  height: auto;
}

.players-display .players-container {
  position: absolute;
  left: 455px;
  top: 330px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.players-display .player-image-container {
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.players-display .player-image-container-ind {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 70px;
}

.players-display .player-image-container-ind .player-image {
  width: 80px;
  aspect-ratio: 1/1;
  background-size: cover;
  background-position: top;
}

.players-display .player-image-container-ind p {
  margin: 10px 0;
  font-size: 24px;
  white-space: break-spaces;
  text-align: center;
}

.players-display .player-image-container-ind .delete-player-button {
  padding: 8px 13px;
  font-size: 16px;
  border-radius: 50%;
  font-family: Arial, sans-serif;
}

.players-display .player-image-container-ind:nth-child(1) .player-image {
  background-image: url("../img/perso/homme_pirate.png");
}

.players-display.as--animals .player-image-container-ind:nth-child(1) .player-image {
  background-image: url("../img/perso/elephant_pirate.png");
}

.players-display .player-image-container-ind:nth-child(2) .player-image {
  background-image: url("../img/perso/femme_pirate2.png");
}

.players-display.as--animals .player-image-container-ind:nth-child(2) .player-image {
  background-image: url("../img/perso/grenouille_pirate.png");
}

.players-display .player-image-container-ind:nth-child(3) .player-image {
  background-image: url("../img/perso/homme_pirate2.png");
}

.players-display.as--animals .player-image-container-ind:nth-child(3) .player-image {
  background-image: url("../img/perso/souris_pirate.png");
}

.players-display .player-image-container-ind:nth-child(4) .player-image {
  background-image: url("../img/perso/femme_pirate.png");
}

.players-display.as--animals .player-image-container-ind:nth-child(4) .player-image {
  background-image: url("../img/perso/girafe_pirate.png");
}

.players-display .player-image-container-ind:nth-child(5) .player-image {
  background-image: url("../img/perso/homme_pirate3.png");
}

.players-display.as--animals .player-image-container-ind:nth-child(5) .player-image {
  background-image: url("../img/perso/poisson_pirate.png");
}

.inner-page .create-game {
  font-size: 30px;
  margin-top: 60px;
}

footer {
  position: relative;
  padding: 5px 20px;
  text-align: center;
  font-size: 20px;
}

footer pre {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 7px;
  font-family: var(--primary-font);
}

@media screen and (max-width: 1325px) {
  main .left-part {
    margin-left: 2.5%;
    width: 44%;
  }

  main .params-choices .choice-box h2 {
    font-size: 24px;
  }

  main .players-display {
    top: 40px;
  }
}

@media screen and (max-width: 1100px) {
    main {
        display: flex;
        flex-direction: column;
    }

    main .left-part {
        margin: 0 auto;
        width: 90%;
    }

    main .players-display {
        position: relative;
        top: 0;
        height: 280px;
    }

    .players-display .players-table {
        position: absolute;
        top: -260px;
        right: -25px;
    }

    .players-display .switch {
      left: initial;
      right: 545px;
      top: 90px;
    }

    .players-display .players-container {
      left: initial;
      right: 45px;
      top: 70px;
      width: 430px;
      justify-content: flex-start;
    }
}

@media screen and (max-width: 720px) {
  main .players-display {
    height: 305px;
  }

  .players-display .players-table {
    top: -210px;
  }

  .players-display .switch {
    right: 210px;
    top: 20px;
  }

  .players-display .switch:hover {
    animation: none;
  }

  .players-display .players-container {
    top: 130px;
  }
}

@media screen and (max-width: 600px) {
  main .params-choices {
    flex-direction: column;
    gap: 0;
  }

  main .params-choices .choice-box {
    width: 100%;
  }

  main .params-choices .choice-box h2 {
    font-size: 28px;
    text-align: start;
    margin-left: 15px;
  }

  main .players-display {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    gap: 20px;
    height: fit-content;
  }

  .players-display .players-table {
    display: none;
  }

  .players-display .switch,
  .players-display .players-container {
    position: relative;
    top: initial;
    left: initial;
    right: initial;
    bottom: initial;
    justify-content: center;
    max-width: 100%;
  }

  .players-display .player-image-container {
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
  }

  /*.inner-page .create-game {*/
  /*  margin-top: 30px;*/
  /*}*/
}